[core]
	pager = cat
[credential]
	helper = manager-core
[user]
	email = 65405378+KevinDoremy@users.noreply.github.com
	name = Kevin Doremy
[init]
	defaultBranch = main
[safe]
	directory = *
	directory = *

