[core]
	pager = cat
[user]
	email = 65405378+KevinDoremy@users.noreply.github.com
	name = Kevin Doremy
[init]
	defaultBranch = main
[safe]
	directory = *
[help]
	autocorrect = 20
[push]
	autoSetupRemote = true
	default = current
[alias]
    graph = "log --all --graph --decorate --pretty=format:'%C(#005f87)%h%Creset :%C(#d75f00)%d%Creset %C(#005f87)%an%Creset %C(#008700)%cd (%cr)%n%s%n' --date=short"
[credential]
	helper = manager
