<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="adb" />
	<package id="chocolatey" />
	<package id="chocolatey-compatibility.extension" />
	<package id="chocolatey-core.extension" />
	<package id="chocolatey-dotnetfx.extension" />
	<package id="chocolatey-font-helpers.extension" />
	<package id="chocolatey-misc-helpers.extension" />
	<package id="chocolatey-windowsupdate.extension" />
	<package id="dotnet-6.0-desktopruntime" />
	<package id="dotnet-desktopruntime" />
	<package id="DotNet4.5.2" />
	<package id="dotnetfx" />
	<package id="git" />
	<package id="google-drive-file-stream" />
	<package id="gradle" />
	<package id="KB2533623" />
	<package id="KB2919355" />
	<package id="KB2919442" />
	<package id="KB2999226" />
	<package id="KB3033929" />
	<package id="KB3035131" />
	<package id="KB3063858" />
	<package id="kubernetes-cli" />
	<package id="nodejs" version="16.4.0" />
	<package id="obs-studio" />
	<package id="pasteintofile" />
	<package id="powertoys" />
	<package id="scrcpy" />
	<package id="stretchly" />
	<package id="Sudo" />
	<package id="vcredist140" />
	<package id="vcredist2015" />
	<package id="vcredist2017" />
	<package id="virtualbox" />
	<package id="vlc" />
	<package id="vscode-insiders" />
	<package id="vscode" />
	<package id="zoomit" />
	<package id="netfx-4.7.1-devpack" />
	<package id="googlechrome" />
	<package id="oh-my-posh" />
	<package id="miniconda3" />
	<package id="discord" />
	<package id="dotnet" />
	<package id="dotnet-sdk" /> 
	<package id="microsoft-teams" />
	<package id="zoom" />
	<package id="javaruntime" />
	<package id="onedrive" />
	<package id="googledrive" />
	<package id="discord" />
	<package id="popcorntime" />
	<package id="winrar" />
	<package id="utorrent" />
	<package id="Docker" />
	<package id="dotnetfx" />
	<package id="netfx-4.7.1-devpack" />
	<package id="netfx-4.7.2-devpack" />
	<package id="dotnetcore" />
	<package id="dotnetcore-runtime.install" />
	<package id="google-drive-file-stream" />
	<package id="wsl-ubuntu-2204" />
	<package id="microsoft-windows-terminal" />
	<package id="autohotkey" />
	<package id="docker-compose" />
</packages>
